* {
  margin: 0px;
  padding: 0px;
}


body{
  background-color: rgba(255, 189, 108, 0.526);
  padding: 0;
  margin: 0;
}

footer{
  background-color:#53240C;
}
.banner {
  
  background-color: rgb(126, 75, 3);
  width: 100%;
  height: 75px;
  text-align: center;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center; 

}

.logo-img {
  margin-left: 10px;
  width: 60px;
  height: 50px; 
  
}

.logo-nome {
  display: inline-block;
  font-family: "Pacifico", cursive;
  font-weight: 800;
  font-style: normal;
  font-size: 45px;
  color: wheat;
  margin: 0;
  -webkit-text-stroke: 1.7px black;
  }

  .receita{
    background-color:#53240C;
    width: 99%;
    margin:0;
    text-align: center;
    padding: 20px;
  }
  .pudim {
    width: 100%;        
    max-width: 600px;         
    max-height: 320px;         
    border: solid
  
  }

  .pudim-text{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }

  .card{
    background-color: rgba(254, 219, 204, 0.567);  
    padding: 5px;
    margin: 20px auto;
    width: 500px;
    border-radius: 5px;
    font-weight: 300px;
    border: solid;

  }

  li{
    list-style-position: inside;
    line-height: 30px;
  }

  h2{
    font-size: 24px;
    font-weight: 600px;
    text-align: center;
    color: #53240C;
    font-family: monospace;
    padding: 15px;
  }

.container {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  
}
span{
  font-size: 32px;
  font-weight: bold;
  color: #832f05;
}

.info1 {
  background: #FBF7F1;
  border-radius: 10px;
  padding: 20px;
  width: 100px;          
  text-align: center;
  box-sizing: border-box;   
  border: solid;        
}

.tabela{
  color:#53240C;
  padding: 5px;
  
}  

td{
  margin: 0;
  border-bottom: 1px solid #53240C;
  padding: 5px;
  width: 100%;
 

  }.tabela td:first-child{
  width: 50%;
  margin: 0;
  
}
.tabela td:nth-child(2){
  width: 25%;
  margin: 0;
}

.tabela td:nth-child(3){
  width:10%;
  
  
}